#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("https://cdn.discordapp.com/attachments/1166933227148165201/1405303289964269639/image.png?ex=689e562d&is=689d04ad&hm=bf63831e4b45d39c6248d9d768049ded01aa2717219f4a62400d627de51769ce&");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
